---
import { basics } from "@cv";
import Section from "@/components/Section.astro";
import Mail from "@/components/icons/Mail.astro";
import WorldMap from "@/components/icons/WorldMap.astro";
import Phone from "@/components/icons/Phone.astro";
import LinkedIn from "@/components/icons/LinkedIn.astro";
import GitHub from "@/components/icons/GitHub.astro";

const { name, label, image, location, profiles, phone, email } = basics;
const { city, region } = location;

const SOCIAL_ICONS: Record<string, any> = {
  GitHub,
  LinkedIn,
};

const linkedInfo = profiles.find(({ network }) => network === "LinkedIn");
const linkedUrl = linkedInfo?.url;
// const githubInfo = profiles.find(({network}) => network === "GitHub")

const printInfo = [email, phone, linkedUrl].filter(Boolean).join(" • ");
---

<Section>
  <div class="flex flex-row items-center justify-between gap-4">
    <div class="flex flex-col gap-2 pr-[32px]">
      <h1 class="text-3xl font-bold">{name}</h1>
      <h2 class="text-[#444] font-medium text-lg text-balance">{label}</h2>
      <span
        class="text-[#666] flex items-center gap-1 text-sm leading-[-0.05rem]"
      >
        <WorldMap />{city}, {region}
      </span>
      <footer class="mt-2">
        <div class="hidden print:block text-[0.65rem] text-[#555]">
          {printInfo}
        </div>
        <div class="print:hidden flex gap-1">
          {
            email && (
              <a
                class="text-[#777] inline-flex items-center justify-center border border-[#eee] p-1 h-8 w-8 rounded-md transition-all hover:bg-[#eee] hover:border-[#ccc] dark:border-[#38bdf8] dark:text-[#38bdf8] dark:hover:bg-[#1E293B]"
                href={`mailto:${email}`}
                title={`Enviar un correo electrónico al correo ${email}`}
                target="_blank"
                rel="noopener noreferrer"
              >
                <Mail />
              </a>
            )
          }
          {
            phone && (
              <a
                class="text-[#777] inline-flex items-center justify-center border border-[#eee] p-1 h-8 w-8 rounded-md transition-all hover:bg-[#eee] hover:border-[#ccc] dark:border-[#38bdf8] dark:text-[#38bdf8] dark:hover:bg-[#1E293B]"
                href={`mailto:${phone}`}
                title={`Llamar por teléfono a ${name} al número ${phone}`}
                target="_blank"
                rel="noopener noreferrer"
              >
                <Phone />
              </a>
            )
          }
          {
            profiles.map(({ network, url }) => {
              const Icon = SOCIAL_ICONS[network];

              return (
                <a
                  class="text-[#777] inline-flex items-center justify-center border border-[#eee] p-1 h-8 w-8 rounded-md transition-all hover:bg-[#eee] hover:border-[#ccc] dark:border-[#38bdf8] dark:text-[#38bdf8] dark:hover:bg-[#1E293B]"
                  target="_blank"
                  rel="noopener noreferrer"
                  href={url}
                  title={`Visitar el perfil de ${name} en ${network}`}
                >
                  <Icon />
                </a>
              );
            })
          }
        </div>
      </footer>
    </div>
    <figure>
      <img
        src="https://avatars.githubusercontent.com/u/98718461?v=4"
        alt={name}
        class="object-cover w-[128px] aspect-square rounded-2xl"
      />
    </figure>
  </div>
</Section>
